html, body {
    margin: 0; /*задаёт отступы между элементами html страницы*/
    padding: 0; /*расстояние между содержимым блока и его краями*/
    font-family: Arial, Tahoma; /*определяет шрифт текста Arial если его не найдёт то будет применен Tahoma*/
    color: #444; /*цвет шрифта*/
}

h1 {
    font-size: 20px; /*размер шрифта*/
    margin: 0 0 20px 0; /*задаёт отступы сверху справа снизу слева*/
    padding-bottom: 10px; /*задаёт отступ между текстом заголовка блока и границей блока заголовка*/
    border-bottom: 1px solid #ccc; /*нижняя границы (линия) толщина сплошная и цвет*/
}

#reg_form { /*задаём по уникальному имени id*/
    width: 350px; /*ширина тега div*/
    margin: 20px auto 0 auto; /*с автоматическими отступами справа и слева*/
    padding: 10px; /*отступы со всех четырёх сторон чтобы содержимое не сливалось с границей самой формы*/
    background: #fff; /*цвет фона блока*/
    box-shadow: 5px 5px 10px #aaa; /*задаёт тень для блока*/
}

ul.reg_list { /*задаём по имени class и будет применен ко всем классам (этот класс только к тегу ul)*/
    list-style: none; /*ни каких маркеров не будет*/
    padding: 0; /*без отступов*/
    margin: 0;
}

ul.reg_list li { /*внутри тега с class reg_list применить для каждого элемента li*/
    margin: 10px 0 10px 0;
}

.reg_title {
    display: inline-block; /*тег с class reg_title следует отображать как блоковый но разрешая отображать в этой же строке другие элементы*/
    min-width: 100px; /*размер минимальной ширины блока (параметр только для блокового для текстовых они игнорируются)*/
}

input.reg_input {
    width: 230px; /*ширина поля ввода*/
    border: none; /*none  указывает что не будет рамок*/
    border-bottom: 1px solid #aaa; /*добавляем подчёркивание шириной сплошное и цветом*/
    font-size: 16px; /*размер шрифта*/
}

input.reg_input:focus { /*псевдокласс для реагирования на действия пользователя в данном случае на использование поля (кароче когда в фокусе)*/
    border-bottom: 1px solid #FFDB4D; /*нижняя граница должна стать светло жёлтой*/

}

.view-blogs-button {
    background-color: rgb(155, 224, 215);
    color: rgb(32, 31, 31);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(33, 150, 243, 0.3);
    transition: all 0.3s ease;
}

#reg_control {
    overflow: hidden; /*чтобы кнопки не были частью рамки и не выходили за еёё пределы*/
    margin-top: 40px; /*отступ сверху*/
}

input.reg_batton { /*для оформления кнопок*/
    background: #FFDB4D; /*фон*/
    font-size: 16px; /*размер надписи*/
    color: #333; /*цвет надписи*/
    padding: 5px; /*отступы*/
    border: 1px solid #ffcf11; /*границы*/
    border-radius: 3px; /*скругление ганиц*/
}