<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style/login.css">
</head>
<body>
    <p><a href="/blogs/" class="view-blogs-button">Все посты</a></p>
    <div id="reg_form"> <!--c id должно быть уникально-->
        <h1>Авторизация</h1>
        <!-- <input type="hidden" name="id" value="123456"> Скрытое поле -->
        <form action="/auth/login/" method="post">
            <ul class="reg_list"> <!--с class можно задавать имя не одно а даже неасколько-->
                <li>
                    <div class="reg_title">email:</div>
                    <input class="reg_input" type="text" name="email" value="">
                </li>
                <li>
                    <div class="reg_title">Пароль:</div>
                    <input class="reg_input" type="password" name="password" value="">
                </li>
            </ul>
            <div id="reg_control">
                <div style="float: left;"><input class="reg_batton" type="submit" value="log in"></div> <!--style не в css а тут для разнообразия-->
                <div style="float: right;"><input class="reg_batton" type="reset" value="Очистить форму"></div> <!--формирует расположение слева и справа-->
            </div>
        </form>
    </div>

    
</body>
</html>